.container {
  display: flex;
  align-items: center;
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;

  &.disabled {
    cursor: initial;
    color: var(--color-dark-100);
  }
}

.root {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
}

.indicator {
  width: 18px;
  height: 18px;
}
