@mixin typography($fontSize, $lineHeight, $fontWeight) {
  margin: 0;

  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: var(--color-text-primary);
}

.large {
  @include typography(var(--font-size-xxl), var(--line-height-l), var(--font-weight-bold));
}

.h1 {
  @include typography;
}
